<h1>Informations sur l'auteur</h1>
<p>
	<%= @my_author.first_name %>
	<%= @my_author.last_name %>
	<br />
	<%= @my_author.age %> ans
	<br />
	"<%= @my_author.description %>"
	<br />
	<%= @my_author.email %>
</p>
