<ul>
  <% if user_signed_in? %>
    <li>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    </li>

    <li>
      Voici ton email : <%= current_user.email %>
    </li>

    <li>
      <%= link_to "Secret page", static_pages_secret_path %>
    </li>

    <li>
      <%= link_to "Edit email / password", edit_user_registration_path %>
    </li>

  <% else %>
    <li>    
      <%= link_to "Sign in", new_user_session_path %>
    </li>

    <li>
      <%= link_to "Sign up", new_user_registration_path %>
    </li>

  <% end %>
</ul>

<h1>BIENVENUE MA GUEULE !</h1>
<p>
  <h3><a href="<%= new_gossip_path %>">Tu veux raconter un ragôt ?</a></h3>
	<br />
	Voici la liste de ces putains de ragots de merde : <br />
</p>



<%  @gossips.each do |a| %>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


<div class="card" style="width: 18rem;">
  
  <div class="card-body" align="center">
  	
  	
    <h5 class="card-title"><%= User.find_by(id: a.user_id).first_name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= a.title%></h6>
    <p class="card-text"><%= a.content %> </p>
    <a href="<%= gossip_path(a.id) %>" class="card-link">Clique ici pour afficher le ragôt</a>

  </div>
 

</div>
<br />
<%end%>

<ul>
  <% if user_signed_in? %>
    <li>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    </li>

    <li>
      Voici ton email : <%= current_user.email %>
    </li>

    <li>
      <%= link_to "Secret page", static_pages_secret_path %>
    </li>

    <li>
      <%= link_to "Edit email / password", edit_user_registration_path %>
    </li>

  <% else %>
    <li>    
      <%= link_to "Sign in", new_user_session_path %>
    </li>

    <li>
      <%= link_to "Sign up", new_user_registration_path %>
    </li>

  <% end %>
</ul>
 
